vm_k8s.vol1.egg filter=lfs diff=lfs merge=lfs -text
vm_k8s.vol2.egg filter=lfs diff=lfs merge=lfs -text
vm_k8s.vol3.egg filter=lfs diff=lfs merge=lfs -text
vm_k8s.vol4.egg filter=lfs diff=lfs merge=lfs -text
vm_k8s.vol5.egg filter=lfs diff=lfs merge=lfs -text
